name: CI/CD workflow

env:
  SERVER_USER: 'root'
  SERVER_IP: '51.38.189.124'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - name: checkout le code
        uses: actions/checkout@v4

      - name: installer Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: server/package-lock.json

      - name: installer les dépendances
        run: |
          npm ci

      - name: exécute les tests
        run: |
          npm run test:ci

      - name: vérifie le code
        run: |
          npm run lint

      - name: vérifie les vulnérabilités
        run: |
          npm audit
          
      - name: Upload du rapport de couverture sur Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  
  deploy:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout le code
        uses: actions/checkout@v4

      - name: déployer sur le serveur

        run: |
          eval $(ssh-agent -s)  # Initialise l'agent SSH
          ssh-add - <<< "${{ secrets.SSH_KEY_VPS }}"  # Ajoute la clé SSH privée
          mkdir -p ~/.ssh  # Crée le dossier .ssh si nécessaire
          ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts  # Ajoute le serveur aux hôtes connus
          scp -r ./server $SERVER_USER@$SERVER_IP:/var/www  # Copie le code sur le serveur
          ssh $SERVER_USER@$SERVER_IP "cd /var/www/server && npm install --omit=dev"  # Installe les dépendances sur le serveur
          ssh $SERVER_USER@$SERVER_IP "cd /var/www/server && pm2 startOrRestart ecosystem.config.js --env production && pm2 save"  # Démarre ou redémarre le service avec pm2